<h1>GOOGLE MAPS</h1>

<agm-map [latitude]="center.lat" [longitude]="center.lng" (mapReady)="onMapReady($event)"
    (mapClick)="agregarMarcador($event)">
    <agm-polygon *ngFor="let path of paths" [paths]="path">fasdf</agm-polygon>
    <agm-marker *ngFor="let marcador of marcadores; let i = index" [latitude]="marcador.lat" [longitude]="marcador.lng"
        [iconUrl]="marcador.icon" (markerClick)="alert('Ok')">
        <agm-info-window>
            <strong>{{marcador.titulo}}</strong>
            <p>
                {{marcador.desc}}
            </p>

            <button type="button" (click)="editarMarcador(marcador, i)" class="btn btn-success" data-toggle="modal"
                data-target="#exampleModal" data-whatever="@mdo">Editar</button>
            <button type="submit" (click)="borrarMarcador(i)" class="btn btn-danger">Eliminar</button>
        </agm-info-window>
    </agm-marker>
</agm-map>

<app-zone-reference-map-edit [marcadorSeleccionado]="marcadorSeleccionado" (marcador)="guardarMarcador($event)">
</app-zone-reference-map-edit>