<h1>{{title}}</h1>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Iniciar Sesión</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="inputEmail" class="form-control" placeholder="Usuario" autofocus>
                <label for="inputEmail">Usuario</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control">
                <label for="inputPassword">Contraseña</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Recordar Contraseña</label>
              </div>
              <button *ngIf="!cargando" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="logIn()" >Iniciar Sesión</button>
              <button *ngIf="cargando" [disabled]="true" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" >
                <i class="fa fa-spin fa-sync"></i>
                Iniciando Sesión ...</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<!-- <button class="btn btn-success" (click)="getInfo()" >Get Info</button>
<button class="btn btn-warning" (click)="postInfo()" >Post Info</button>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Login</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/home'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/call-station'>Call Station</a>
      </li>
    </ul>
  </div>
</nav> -->



<!-- <mat-toolbar color="primary">
    <h1>Login</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="'/home'">Home</a>
      <a mat-button routerLink="'/call-station'">CallStation</a>
    </div>
</mat-toolbar> -->

