<!-- <h1>{{title}}</h1>
<button class="btn btn-success" (click)="getInfo()" >Get Info</button>
<button class="btn btn-warning" (click)="postInfo()" >Post Info</button>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">{{'Transversal.NavBarTitle' | translate}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/home'>{{'Transversal.NavBarItemHome' | translate}}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/call-station'>{{'Transversal.NavBarItemCallStation' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/zone-reference'>{{'Transversal.NavBarItemZoneReference' | translate}}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Idioma
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="switchLanguage('es')" routerLink="">Español</a>
          <a class="dropdown-item" (click)="switchLanguage('en')" routerLink="">Inglés</a>
          <a class="dropdown-item" (click)="switchLanguage('pt')" routerLink="">Portugués</a>
        </div>
      </li>
    </ul>
  </div>
</nav>-->
<div class="container">
  <router-outlet></router-outlet> 
</div>