
<div class="alert alert-info" role="alert">
  {{'Home.Title' | translate}}
    <br>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink='analyst'>{{'Home.NavBarItemAnalyst' | translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='coordinator'>{{'Home.NavBarItemCoordinator' | translate}} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='manager'>{{'Home.NavBarItemManager' | translate}} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='supervisor'>{{'Home.NavBarItemSupervisor' | translate}} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='technical'>{{'Home.NavBarItemTechnical' | translate}} </a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>

</div>
{{title}}
