

<div class="alert alert-info" role="alert">
    {{'Call-Station.Title' | translate}}
      <br>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
          <a class="navbar-brand" href="#">Estación de llamada</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" routerLink='add-direct-connection'>Agregar Conexión Directa <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='add-phone'>Agregar Teléfono</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='add-tcp-ip'>Agregar TCP-IP </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='add-virtual-phone'>Agregar Teléfono Virtual </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='add-virtual-directory'>Agregar Directorio Virtual</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='view-call-station'>Ver Estación </a>
              </li>
            </ul>
          </div>
        </nav>
        <router-outlet></router-outlet>
</div>


